.header-section {
  text-decoration: none solid rgb(68, 68, 68);
  text-transform: lowercase;
  font-family: var(--Montserrat);
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  font-size: 16px;

  color: var(--accent-color);
}

.header-container {
  margin: 0 auto;
  padding: 0 20px;
}

.header-navigation {}

.header-list {}

.header-list > li:hover {
  border-bottom: 1px solid #FFCC00;
}

.header-list_item {}

.header-button {
  margin-left: 202px;
  padding: 16px 34px 17px 35px;

  color: var(--accent-color);
  border: 1px solid #F5F5F5;
  border-radius: 23px;
  background-color: #202020;
}
.header-button:hover {
  cursor: pointer;
  background-color: #2e2e2e;
  border-top: 1px solid #4C40F7;
  border-right: 1px solid #4C40F7;
  border-bottom: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
}